<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=.9">
    <title>Jay Ballesteros-Cobián</title>
    
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        
        <img src="/_img/jay_profile_circle_v2.jpg", height=80% width=80%>
        <br>
        <br>
        <h2><b>Jay Ballesteros-Cobián</b></h2>
        <p>Master of Public Policy (MPP) candidate at the University of Chicago</p>   
        <small>jballesteros [at] uchicago.edu</small>
        <br>    
        <img src='https://cdn-icons-png.flaticon.com/512/4726/4726010.png' height=5% width=5%>
        <a href="https://github.com/jballesterosc/cv/blob/main/cv-jballesteros/cv_jballesteros.pdf" target="https://github.com/jballesterosc/cv/blob/main/cv-jballesteros/cv_jballesteros.pdf">resume</a>
        <br>
        <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/960px-LinkedIn_logo_initials.png' height=5% width=5%>
        <a href="https://www.linkedin.com/in/jay-ballesteros/" target="https://www.linkedin.com/in/jay-ballesteros/">linkedin</a>
        <br>
        <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/960px-Octicons-mark-github.svg.png' height=5% width=5%>
        <a href="https://github.com/jballesterosc" target="https://github.com/jballesterosc">github</a>
        <br>
        <img src='https://upload.wikimedia.org/wikipedia/commons/c/ce/X_logo_2023.svg' height=5% width=5%>
        <a href="https://twitter.com/jballesterosc_" target="https://twitter.com/jballesterosc_">x</a>
        <br>
    
       

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="https://github.com/jballesterosc/cv/blob/main/cv-jballesteros/cv_jballesteros.pdf">View <strong>Resume</strong></a></li>
        </ul>
        {% endif %}
      </header>
     
       <section>
       
     <nav>
      <ul>
        {% assign sorted_pages = site.pages | sort:"order" %}
          {% for node in sorted_pages %}
          <li><a class="{% if page.url == node.url %}active{% endif %}" href="{{node.url}}">{{node.title}}</a></li>
        {% endfor %}
      </ul>
    </nav>  
        
      {{ content }}
        
      <style>
      nav ul {
        display: flex;
        list-style: none;
        margin-right: 5px;
      }
      nav ul li {
        margin-right: 10px;
      }
      nav ul li a {
        text-decoration: none;
      }
      nav ul li a:hover {
        text-decoration: underline;
      }
      .active {
        text-decoration: underline;
      }
    </style>

   </section>  
   <footer>
        <p><small>Theme <a href="https://github.com/orderedlist/minimal">minimal</a> by <a href="https://github.com/orderedlist">orderedlist.</a></small></p>
      </footer>   
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>